<p id="notice"><%= notice %></p>

<h1>Aliens</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Planet</th>
      <th>Age</th>
      <th>Power</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aliens.each do |alien| %>
      <tr>
        <td><%= alien.name %></td>
        <td><%= alien.planet.name %></td>
        <td><%= alien.age %></td>
        <td><% alien.powers.each do |power| %>
        <%= power.name %>
        <% end %>
        </td>
        <td><%= link_to 'Show', alien %></td>
        <td><%= link_to 'Edit', edit_alien_path(alien) %></td>
        <td><%= link_to 'Destroy', alien, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alien', new_alien_path %>
