<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @alien.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @alien.age %>
</p>

<%= link_to 'Edit', edit_alien_path(@alien) %> |
<%= link_to 'Back', aliens_path %>
